<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSIqBc9ijkkX7ve8igM8ImhqYNPlByF0o">
  </script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <link rel="stylesheet" type="text/css" href="./mainClient.css">

  <script type="text/javascript">

  function createInfoWindow() {
    var infoWindow = new google.maps.InfoWindow();
    infoWindow.setContent([
      '<div class = "rp-gallery">',
        '<div class = "rp-item"></div>',
        '<span class = "rp-item-info"></span>',
        '<div class = "rp-button-container">',
          '<button class = "rp-button-next">Next</button>',
          '<p class = "rp-counter"> 0/0 </p>',
          '<button class = "rp-button-prev">Prev</button>',
        '</div>',
      '</div>'
    ].join(""));

    infoWindow.roadpolizei = {

      setItem : function(item) {
        if (item === undefined) { console.log('no item'); return; }
        var $content = $('.rp-item');
        if (item.mimetype.match('image/*')) {
          $content.html('<img class = "rp-item-img" src="' + item.url + '"/>');
        } else {
          $content.html([
            '<video class = "rp-item-vid" controls>',
              '<source src="' + item.url + '" type="' + item.mimetype + '">',
            '</video>'
          ].join(''));
        }
        //console.log($content);
      },

      adjustCounter : function() {
        $('.rp-counter').text('' + (this.index+1) + ' / ' + this.count);
      },

      nextItem : function() {
        this.index = (this.index + 1) % (this.count);
        this.setItem(this.files[this.index]);
        this.adjustCounter();
      },

      prevItem : function() {
        
        this.index = (this.index - 1) % this.count;
        if(this.index === -1)
          this.index = this.count - 1;
     
        this.setItem(this.files[this.index]);
        this.adjustCounter();
      },

      init : function() {
        this.index = 0;
        this.setItem(this.files[0]);
        this.adjustCounter();
      }
    };

    google.maps.event.addListener(infoWindow, 'domready', function() {
      $('.rp-button-next').click(function() {
        infoWindow.roadpolizei.nextItem();
      });
      $('.rp-button-prev').click(function() {
        infoWindow.roadpolizei.prevItem();
      });
      infoWindow.roadpolizei.init();
    });
    

    return infoWindow;
  }

function putMarkers(infoWindow, map, roadpolizeiAPI, parametrs){
  $.getJSON( roadpolizeiAPI, {}).done(function( data ) {       

    
    for (var i = 0; i < data.length; i++) {
      var item = data[i];
      //console.log(item);

      var marker = new google.maps.Marker({
        position:  new google.maps.LatLng(item.location.latitude, item.location.longitude),
        map: map,
      });

      marker.exportUrl = item.exportUrl;
      // process multiple info windows
      // add click event
      google.maps.event.addListener(marker, 'click', function() {
        
        infoWindow.close();
        var self = this;
        $.getJSON(self.exportUrl).done(function(data) {
        //console.log(data);
        infoWindow.roadpolizei.files = [];
        infoWindow.roadpolizei.count = data.files.length;
        infoWindow.roadpolizei.index = 0;

        for(var j = 0; j < data.files.length; j++) {
          var file = data.files[j];
          if (file.mimetype.match("image/*") || file.mimetype.match("video/*")) {
            infoWindow.roadpolizei.files.push({ mimetype : file.mimetype, url : file.url });
          }
        }

        $('.rp-item-info').text([
          '<p>' + data.description + '</p>',
          '<br><p>Date:</p>',
          '<p>' + data.fixationTime + '</p>'
        ].join(''));

        //console.log(infoWindow);
        infoWindow.open(map, self);

        });
      });
    }
  });
}

  $(document).ready(function(){
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(50.0641565, 36.2022325),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false,
        zoom: 5
      };

      // init map
      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
      var infoWindow = createInfoWindow();
      var roadpolizeiAPI = "http://localhost:8080/api/reports/short";

      putMarkers(infoWindow, map, roadpolizeiAPI);
      
    }
    
    
    initialize();
  })

  function customGetClick(){
    var latObject = $(document).getElementById("lat");
    var latObject = $(document).getElementById("lng");
    var latObject = $(document).getElementById("rad");
  }

</script>
</head>
<body>
   <div id="map_canvas" style="width: 100%; height: 500px;"></div>
   <div id="searchForm" style="width: 100%; height: 200px; background: #15b89a">
      <br>
      <form name = "querySearchForm" method="get" action="/api/reports/search" enctype="multipart/form-data">
        <div>
          <input type="text" placeholder="Latitude" name="lat">
          <input type="text" placeholder="Longitude" name="lng">
          <input type="text"placeholder="Radius" name="rad">
        </div>
        <p>
        Start <input type="date" placeholder="Fixation start time" name="fixationTimeStart">
        End <input type="date" placeholder="Fixation end time" name="fixationTimeEnd"> 
        <p>
        <input type="text" placeholder="Description" name="description"> 
        <p>
        <input type="text" placeholder="FacebookID"name="facebookID"> 
        <input type ="submit" name ="querySearchSubmit" value="Search">
      </form>    
   </div>
   <div style="width: 100%; background: #de4940; text-align: center">
      OKAY
   </div>
</body>
</html>