<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSIqBc9ijkkX7ve8igM8ImhqYNPlByF0o">
  </script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <link rel="stylesheet" type="text/css" href="./mainClient.css">

  <script type="text/javascript">

  var markers = [];
  var InfoWindow;
  var bounds;

  function createInfoWindow() {
    infoWindow = new google.maps.InfoWindow();
    infoWindow.setContent([
      '<div class = "rp-gallery">',
        '<div class = "rp-item"></div>',
        '<div class = "rp-item-info"></div>',
        '<div class = "rp-button-container">',
          '<button class = "rp-button-prev"></button>',
          '<p class = "rp-counter"> 0/0 </p>',
          '<button class = "rp-button-next"></button>',
        '</div>',
      '</div>'
    ].join(""));

    infoWindow.roadpolizei = {

      setItem : function(item) {
        if (item === undefined) { console.log('no item'); return; }
        var $content = $('.rp-item');
        if (item.mimetype.match('image/*')) {
          $content.html('<img class = "rp-item-img" src="' + item.url + '"/>');
        } else {
          $content.html([
            '<video class = "rp-item-vid" controls>',
              '<source src="' + item.url + '" type="' + item.mimetype + '">',
            '</video>'
          ].join(''));
        }
        //console.log($content);
      },

      adjustCounter : function() {
        if (this.count === 0) {
          $('.rp-counter').text('No media');
        } else {
          $('.rp-counter').text('' + (this.index+1) + ' / ' + this.count);
        }
      },

      nextItem : function() {
        if (this.count === 0) { return; }
        this.index = (this.index + 1) % (this.count);
        this.setItem(this.files[this.index]);
        this.adjustCounter();
      },

      prevItem : function() {
        if (this.count === 0) { return; }
        this.index = (this.index - 1) % this.count;
        if(this.index === -1)
          this.index = this.count - 1;
     
        this.setItem(this.files[this.index]);
        this.adjustCounter();
      },

      init : function() {
        this.index = 0;
        this.setItem(this.files[0]);
        this.adjustCounter();
      },

      setInfo : function(description, fbUrl, date, carNumber) {
        var d = new Date(date);
        var dateString = '' + d.getFullYear() + '.' +  d.getMonth() + '.' + d.getDate();
        $('.rp-item-info').html([
          '<p>' + description + '</p>',
          '<p>Car: [' + carNumber + ']</p>',
          '<p>Date: ' + dateString + '</p>',
          '<a href="' + fbUrl + '">Author</a>'
          ].join(''));
      }
    };

    google.maps.event.addListener(infoWindow, 'domready', function() {
      $('.rp-button-next').click(function() {
        infoWindow.roadpolizei.nextItem();
      });
      $('.rp-button-prev').click(function() {
        infoWindow.roadpolizei.prevItem();
      });
      infoWindow.roadpolizei.init();
    });
    

    return infoWindow;
  }

function putMarkers(map, markers, roadpolizeiAPI){
  $.getJSON( roadpolizeiAPI, {}).done(function( data ) {       
    for (var i = 0; i < data.length; i++) {
      var item = data[i];
      //console.log(item);

      var marker = new google.maps.Marker({
        position:  new google.maps.LatLng(
          item.location.lat,
          item.location.lng
          ),
        map: map,
      });
      marker.exportUrl = item.exportUrl;

      markers.push(marker);
      bounds.extend(marker.position);
      // process multiple info windows
      // add click event
      google.maps.event.addListener(marker, 'click', function() {
        
        infoWindow.close();
        var self = this;
        $.getJSON(self.exportUrl).done(function(data) {
        //console.log(data);
        infoWindow.roadpolizei.files = [];
        infoWindow.roadpolizei.count = data.files.length;
        infoWindow.roadpolizei.index = 0;

        for(var j = 0; j < data.files.length; j++) {
          var file = data.files[j];
          if (file.mimetype.match("image/*") || file.mimetype.match("video/*")) {
            infoWindow.roadpolizei.files.push({ mimetype : file.mimetype, url : file.url });
          }
        }
          console.log(data);
          console.log(data.fbId);
          infoWindow.open(map, self);
          infoWindow.roadpolizei.setInfo(data.description, data.fbId, data.fixationTime, data.carNumber);
        });
      });
    }
  });
  map.fitBounds(bounds);
  map.center = markers[0].position;
}

  $(document).ready(function(){
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(50.0641565, 36.2022325),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false,
        zoom: 5
      };

      // init map
      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
      bounds = new google.maps.LatLngBounds();
      createInfoWindow();
      var roadpolizeiAPI = "https://roadpolizei.herokuapp.com/api/reports/short";

      putMarkers(map, markers, roadpolizeiAPI);
    }
    
    
    initialize();
  });

  function generateURL(){
    var string = "https://roadpolizei.herokuapp.com/api/reports/search/?";
    string += $('#lat')[0].name + '=' +  $('#lat')[0].value + '&';
    string += $('#lng')[0].name + '=' +  $('#lng')[0].value + '&';
    string += $('#rad')[0].name + '=' +  $('#rad')[0].value + '&';
    string += $('#fixationTimeStart')[0].name + '=' +  $('#fixationTimeStart')[0].value + '&';
    string += $('#fixationTimeEnd')[0].name + '=' +  $('#fixationTimeEnd')[0].value + '&';
    string += $('#description')[0].name + '=' +  $('#description')[0].value + '&';
    string += $('#facebookID')[0].name + '=' +  $('#facebookID')[0].value + '&';
    string += $('#carNumber')[0].name + '=' +  $('#carNumber')[0].value;
    return string;
  }

  function setAllMap(map, markers) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }
  function clearMapMarkers(map, markers){
    setAllMap(null, markers);
  }
  function hideMarkers(){
    clearMapMarkers(map, markers);
  }
  function showMarkers(){
    setAllMap(map, markers);
  }

  function applySearch(){
    hideMarkers();
    var url = generateURL();
    markers = [];
    putMarkers(map, markers, url);
  }
</script>
</head>
<body>
   <div id="map_canvas" class= "mapDiv"></div>
   <div id="searchForm" class= "searchDiv">
      <br>
      <form name = "querySearchForm" method="get" action="/api/reports/search" enctype="multipart/form-data">
        <div>
          <input type="text" placeholder="Latitude" name="lat" id="lat">
          <input type="text" placeholder="Longitude" name="lng" id="lng">
          <input type="text"placeholder="Radius" name="rad" id="rad">
        </div>
        <p>
        Start <input type="date" placeholder="Fixation start time" name="fixationTimeStart" id="fixationTimeStart">
        <p>
        End <input type="date" placeholder="Fixation end time" name="fixationTimeEnd" id="fixationTimeEnd"> 
        <p>
        <input type="text" placeholder="Description" name="description" id="description"> 
        <p>
        <input type="text" placeholder="FacebookID"name="facebookID" id="facebookID">
        <p>
        <input type="text" placeholder="Car number" name="carNumber" id="carNumber">         
      </form>    
      <button class="searchButton" id ="querySearchSubmit" value="Search" onclick="applySearch()">Search</button>
   </div>
</body>
</html>